p #{name} thân mến,

p Trước hết, chúng tôi chân thành cám ơn bạn đã dành thời gian quan tâm tới Vietcode. Sau khi xem xét kĩ lưỡng, chúng tôi rất tiếc phải thông báo với bạn rằng chúng tôi không thể chọn bạn đi tiếp với hồ sơ ứng tuyển vị trí #{position}.

p Thực sự chúng tôi rất ấn tượng với kĩ năng và các thành tích mà bạn đã đạt được. Chính vì vậy chúng tôi tin rằng bạn có thể phù hợp với công ty cho những vị trí trong tương lai. Chúng tôi đã lưu lại hồ sơ của bạn và sẽ liên lạc lại với bạn ngay khi có cơ hội.

p  Mong bạn tiếp tục theo dõi và ủng hộ chúng tôi.

p Chúc bạn thành công.

p Trân trọng,
br
br
div --
include ./signature.pug
