p
  span(data-reactroot='', data-token-index='0', style='font-style: italic; color: rgb(155, 154, 151); font-size: 16px;') P/c: Nếu như bạn đã đặt lịch phỏng vấn thành công, vui lòng bỏ qua email này. Chúng tôi rất mong chờ được gặp bạn trong vòng phỏng vấn sắp tới.
p Thân gửi bạn #{name},
p Trước hết, cảm ơn bạn đã dành sự quan tâm cho tổ chức của chúng tôi.
p Tôi là Nguyễn Doãn Hoàng, thuộc bộ phận tuyển dụng của Vietcode. Thay mặt tổ chức, tôi chân thành gửi lời xin lỗi đến bạn bởi trục trặc kĩ thuật bạn đã gặp trong quá trình đặt lịch phỏng vấn.
p Mời bạn đặt lịch phỏng vấn vị trí #{position} qua đường dẫn sau đây:

p
  a(href=`${url}`)
    strong Calendly Link
p Vui lòng đặt lịch phỏng vấn sớm nhất có thể, vì các khung thời gian phỏng vấn là có giới hạn và có thể bị các ứng viên khác đặt trước.
p Nếu có điều gì bất tiện, bạn có thể liên hệ ngay qua thông tin phía dưới.
p Chúng tôi rất mong sớm được gặp và trò chuyện với bạn.
p Trân trọng,
br
p --
include ./signature.pug