table.sc-gPEVay.eQYmiW(cellpadding='0', cellspacing='0', style='vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;')
  tbody
    tr
      td
        table.sc-gPEVay.eQYmiW(cellpadding='0', cellspacing='0', style='vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;')
          tbody
            tr
              td(style='vertical-align: top;')
                table.sc-gPEVay.eQYmiW(cellpadding='0', cellspacing='0', style='vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;')
                  tbody
                    tr
                      td.sc-TOsTZ.kjYrri(style='text-align: center;')
                        img.sc-cHGsZl.bHiaRe(src='https://drive.google.com/uc?id=1YfG0nZcBR-QPIQoMAszszDfoaK6u2yjH', role='presentation', width='130', style='max-width: 128px; display: block;')
                    tr
                      td(height='30')
                    tr
                      td(style='text-align: center;')
                        table.sc-gPEVay.eQYmiW(cellpadding='0', cellspacing='0', style='vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial; display: inline-block;')
                          tbody
                            tr(style='text-align: center;')
                              td
                                a.sc-hzDkRC.kpsoyz(href='https://www.facebook.com/vietcode.org', color='#0B1F4E', style='display: inline-block; padding: 0px; background-color: rgb(11, 31, 78);')
                                  img.sc-bRBYWo.ccSRck(src='https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/facebook-icon-2x.png', alt='facebook', color='#0B1F4E', height='24', style='background-color: rgb(11, 31, 78); max-width: 135px; display: block;')
                              td(width='5')
                                div
                              td
                                a.sc-hzDkRC.kpsoyz(href='https://www.linkedin.com/company/vietcode', color='#0B1F4E', style='display: inline-block; padding: 0px; background-color: rgb(11, 31, 78);')
                                  img.sc-bRBYWo.ccSRck(src='https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/linkedin-icon-2x.png', alt='linkedin', color='#0B1F4E', height='24', style='background-color: rgb(11, 31, 78); max-width: 135px; display: block;')
                              td(width='5')
                                div
                              td
                                a.sc-hzDkRC.kpsoyz(href='https://www.instagram.com/vietcode/', color='#0B1F4E', style='display: inline-block; padding: 0px; background-color: rgb(11, 31, 78);')
                                  img.sc-bRBYWo.ccSRck(src='https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/instagram-icon-2x.png', alt='instagram', color='#0B1F4E', height='24', style='background-color: rgb(11, 31, 78); max-width: 135px; display: block;')
                              td(width='5')
                                div
              td(width='46')
                div
              td(style='padding: 0px; vertical-align: middle;')
                h3.sc-fBuWsC.eeihxG(color='#0B1F4E', style='margin: 0px; font-size: 18px; color: rgb(11, 31, 78);')
                  span Nguy&#x1EC5;n
                  span &nbsp;
                  span Do&atilde;n Ho&agrave;ng
                p.sc-fMiknA.bxZCMx(color='#0B1F4E', font-size='medium', style='margin: 0px; color: rgb(11, 31, 78); font-size: 14px; line-height: 22px;')
                  span Human Manager
                p.sc-dVhcbM.fghLuF(color='#0B1F4E', font-size='medium', style='margin: 0px; font-weight: 500; color: rgb(11, 31, 78); font-size: 14px; line-height: 22px;')
                  span Recruitment
                  span &nbsp;|&nbsp;
                  span Vietcode Organization
                table.sc-gPEVay.eQYmiW(cellpadding='0', cellspacing='0', style='vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial; width: 100%;')
                  tbody
                    tr
                      td(height='30')
                    tr
                      td.sc-jhAzac.hmXDXQ(color='#0B1F4E', direction='horizontal', height='1', style='width: 100%; border-bottom: 1px solid rgb(11, 31, 78); border-left: none; display: block;')
                    tr
                      td(height='30')
                table.sc-gPEVay.eQYmiW(cellpadding='0', cellspacing='0', style='vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;')
                  tbody
                    tr(height='25', style='vertical-align: middle;')
                      td(width='30', style='vertical-align: middle;')
                        table.sc-gPEVay.eQYmiW(cellpadding='0', cellspacing='0', style='vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;')
                          tbody
                            tr
                              td(style='vertical-align: bottom;')
                                span.sc-jlyJG.bbyJzT(color='#0B1F4E', width='11', style='display: block; background-color: rgb(11, 31, 78);')
                                  img.sc-iRbamj.blSEcj(src='https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/phone-icon-2x.png', color='#0B1F4E', width='13', style='display: block; background-color: rgb(11, 31, 78);')
                      td(style='padding: 0px; color: rgb(11, 31, 78);')
                        a.sc-gipzik.iyhjGb(href='tel:0358842658', color='#0B1F4E', style='text-decoration: none; color: rgb(11, 31, 78); font-size: 12px;')
                          span 0358842658
                    tr(height='25', style='vertical-align: middle;')
                      td(width='30', style='vertical-align: middle;')
                        table.sc-gPEVay.eQYmiW(cellpadding='0', cellspacing='0', style='vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;')
                          tbody
                            tr
                              td(style='vertical-align: bottom;')
                                span.sc-jlyJG.bbyJzT(color='#0B1F4E', width='11', style='display: block; background-color: rgb(11, 31, 78);')
                                  img.sc-iRbamj.blSEcj(src='https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/email-icon-2x.png', color='#0B1F4E', width='13', style='display: block; background-color: rgb(11, 31, 78);')
                      td(style='padding: 0px;')
                        a.sc-gipzik.iyhjGb(href='mailto:hoang@vietcode.org', color='#0B1F4E', style='text-decoration: none; color: rgb(11, 31, 78); font-size: 12px;')
                          span hoang@vietcode.org
                table.sc-gPEVay.eQYmiW(cellpadding='0', cellspacing='0', style='vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;')
                  tbody
                    tr
                      td(height='30')